Products Content <br/>
<ul>
    <li><a  routerLink="../shirt">Product 1.</a></li>
    <li><a routerLink="../shirt">Product 2.</a></li>
    <li><a routerLink="../shirt">Product 3</a></li>
    <li><a routerLink="../shirt">Product 4</a></li>
    <li><a routerLink="../shirt">Product 5</a></li>
    <li><a  routerLink="../shirt">Product 1.</a></li>
    <li><a routerLink="../shirt">Product 2.</a></li>
    <li><a routerLink="../shirt">Product 3</a></li>
    <li><a routerLink="../shirt">Product 4</a></li>
    <li><a routerLink="../shirt">Product 5</a></li>
    <li><a  routerLink="../shirt">Product 1.</a></li>
    <li><a routerLink="../shirt">Product 2.</a></li>
    <li><a routerLink="../shirt">Product 3</a></li>
    <li><a routerLink="../shirt">Product 4</a></li>
    <li><a routerLink="../shirt">Product 5</a></li>
    <li><a  routerLink="../shirt">Product 1.</a></li>
    <li><a routerLink="../shirt">Product 2.</a></li>
    <li><a routerLink="../shirt">Product 3</a></li>
    <li><a routerLink="../shirt">Product 4</a></li>
    <li><a routerLink="../shirt">Product 5</a></li>
</ul>